[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=GPS Recorder
Exec=/usr/bin/gpsrecorder
Icon=gpsrecorder
X-HildonDesk-ShowInToolbar=true
X-Window-Icon=gpsrecorder
X-Window-Icon-Dimmed=gpsrecorder
X-Osso-Type=application/x-executable
X-Osso-Service=name.jcl.gpsrecorder
Categories=Utility;Qt;
